*{
    font-family: Arial, Helvetica, sans-serif;
    color: darkcyan;
}
table{
    border-collapse: collapse; 
    border: 1px solid red;
}
td{ 
    text-align: center;
    width: 85px;
    height: 6px;
    /* padding: 5px; */
}
li{
    padding-bottom: 5px;
}
form{
    padding: 8px;
    border: 5px solid mediumseagreen;
    width: 300px;
    background-color: whitesmoke;
}
input{
    display: block;
    margin-top: 6px;
}
.choice{
    display: inline;
    padding-right: 0;
    margin-right:0;
}

#btn{
    margin-top: 12px;
    width: 84px;
}
#btn:hover { 
background-color: mediumseagreen; 
color: white;
cursor: pointer;
}  


